@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-T_EEc3V23K7d_font-family: "Source Sans 3", sans-serif;
  --mixin-T_EEc3V23K7d_font-size: 16px;
  --mixin-T_EEc3V23K7d_font-weight: 400;
  --mixin-T_EEc3V23K7d_font-style: normal;
  --mixin-T_EEc3V23K7d_color: #535353;
  --mixin-T_EEc3V23K7d_text-align: left;
  --mixin-T_EEc3V23K7d_text-transform: none;
  --mixin-T_EEc3V23K7d_line-height: 1.5;
  --mixin-T_EEc3V23K7d_letter-spacing: normal;
  --mixin-T_EEc3V23K7d_white-space: pre-wrap;
  --mixin-T_EEc3V23K7d_user-select: text;
  --mixin-T_EEc3V23K7d_text-decoration-line: none;
  --mixin-T_EEc3V23K7d_text-overflow: clip;
  --mixin-9gm1EYuUjkX8_font-family: "Source Sans 3", sans-serif;
  --mixin-9gm1EYuUjkX8_color: #000000;
  --mixin-9gm1EYuUjkX8_font-size: 72px;
  --mixin-9gm1EYuUjkX8_font-weight: 900;
  --mixin-9gm1EYuUjkX8_letter-spacing: -4px;
  --mixin-9gm1EYuUjkX8_line-height: 1;
  --mixin-9gm1EYuUjkX8_white-space: pre-wrap;
  --mixin-9DT5yE5NbYYH_font-family: "Source Sans 3", sans-serif;
  --mixin-9DT5yE5NbYYH_color: #000000;
  --mixin-9DT5yE5NbYYH_font-size: 48px;
  --mixin-9DT5yE5NbYYH_font-weight: 700;
  --mixin-9DT5yE5NbYYH_letter-spacing: -1px;
  --mixin-9DT5yE5NbYYH_line-height: 1.1;
  --mixin-9DT5yE5NbYYH_white-space: pre-wrap;
  --mixin-DR3tsxQycEcK_font-family: "Source Sans 3", sans-serif;
  --mixin-DR3tsxQycEcK_color: #000000;
  --mixin-DR3tsxQycEcK_font-size: 32px;
  --mixin-DR3tsxQycEcK_font-weight: 600;
  --mixin-DR3tsxQycEcK_letter-spacing: -0.8px;
  --mixin-DR3tsxQycEcK_line-height: 1.2;
  --mixin-DR3tsxQycEcK_white-space: pre-wrap;
  --mixin--6kU-AOYMbEE_font-family: "Source Sans 3", sans-serif;
  --mixin--6kU-AOYMbEE_color: #000000;
  --mixin--6kU-AOYMbEE_font-size: 24px;
  --mixin--6kU-AOYMbEE_font-weight: 600;
  --mixin--6kU-AOYMbEE_letter-spacing: -0.5px;
  --mixin--6kU-AOYMbEE_line-height: 1.3;
  --mixin--6kU-AOYMbEE_white-space: pre-wrap;
  --mixin-NpbPItUC1Dzc_font-family: "Source Sans 3", sans-serif;
  --mixin-NpbPItUC1Dzc_color: #000000;
  --mixin-NpbPItUC1Dzc_font-size: 20px;
  --mixin-NpbPItUC1Dzc_font-weight: 600;
  --mixin-NpbPItUC1Dzc_letter-spacing: -0.3px;
  --mixin-NpbPItUC1Dzc_line-height: 1.5;
  --mixin-NpbPItUC1Dzc_white-space: pre-wrap;
  --mixin-EhtGpvTsE7Lb_font-family: "Source Sans 3", sans-serif;
  --mixin-EhtGpvTsE7Lb_color: #000000;
  --mixin-EhtGpvTsE7Lb_font-size: 16px;
  --mixin-EhtGpvTsE7Lb_font-weight: 600;
  --mixin-EhtGpvTsE7Lb_line-height: 1.5;
  --mixin-EhtGpvTsE7Lb_white-space: pre-wrap;
  --mixin-eGylqteo8zTq_color: #0070f3;
  --mixin-eGylqteo8zTq_white-space: pre-wrap;
  --mixin-1UEHpEtESlji_color: #3291ff;
  --mixin-1UEHpEtESlji_white-space: pre-wrap;
  --mixin-I6bAuc8u5gfG_border-left-color: #dddddd;
  --mixin-I6bAuc8u5gfG_border-left-style: solid;
  --mixin-I6bAuc8u5gfG_border-left-width: 3px;
  --mixin-I6bAuc8u5gfG_color: #888888;
  --mixin-I6bAuc8u5gfG_padding-left: 10px;
  --mixin-I6bAuc8u5gfG_white-space: pre-wrap;
  --mixin-QJDIj0ogvsg__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QJDIj0ogvsg__border-bottom-color: #dddddd;
  --mixin-QJDIj0ogvsg__border-bottom-style: solid;
  --mixin-QJDIj0ogvsg__border-bottom-width: 1px;
  --mixin-QJDIj0ogvsg__border-left-color: #dddddd;
  --mixin-QJDIj0ogvsg__border-left-style: solid;
  --mixin-QJDIj0ogvsg__border-left-width: 1px;
  --mixin-QJDIj0ogvsg__border-right-color: #dddddd;
  --mixin-QJDIj0ogvsg__border-right-style: solid;
  --mixin-QJDIj0ogvsg__border-right-width: 1px;
  --mixin-QJDIj0ogvsg__border-top-color: #dddddd;
  --mixin-QJDIj0ogvsg__border-top-style: solid;
  --mixin-QJDIj0ogvsg__border-top-width: 1px;
  --mixin-QJDIj0ogvsg__border-bottom-left-radius: 3px;
  --mixin-QJDIj0ogvsg__border-bottom-right-radius: 3px;
  --mixin-QJDIj0ogvsg__border-top-left-radius: 3px;
  --mixin-QJDIj0ogvsg__border-top-right-radius: 3px;
  --mixin-QJDIj0ogvsg__font-family: "Inconsolata";
  --mixin-QJDIj0ogvsg__padding-bottom: 1px;
  --mixin-QJDIj0ogvsg__padding-left: 4px;
  --mixin-QJDIj0ogvsg__padding-right: 4px;
  --mixin-QJDIj0ogvsg__padding-top: 1px;
  --mixin-QJDIj0ogvsg__white-space: pre-wrap;
  --mixin-g0T4-Ko_o2Ln_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-g0T4-Ko_o2Ln_border-bottom-color: #dddddd;
  --mixin-g0T4-Ko_o2Ln_border-bottom-style: solid;
  --mixin-g0T4-Ko_o2Ln_border-bottom-width: 1px;
  --mixin-g0T4-Ko_o2Ln_border-left-color: #dddddd;
  --mixin-g0T4-Ko_o2Ln_border-left-style: solid;
  --mixin-g0T4-Ko_o2Ln_border-left-width: 1px;
  --mixin-g0T4-Ko_o2Ln_border-right-color: #dddddd;
  --mixin-g0T4-Ko_o2Ln_border-right-style: solid;
  --mixin-g0T4-Ko_o2Ln_border-right-width: 1px;
  --mixin-g0T4-Ko_o2Ln_border-top-color: #dddddd;
  --mixin-g0T4-Ko_o2Ln_border-top-style: solid;
  --mixin-g0T4-Ko_o2Ln_border-top-width: 1px;
  --mixin-g0T4-Ko_o2Ln_border-bottom-left-radius: 3px;
  --mixin-g0T4-Ko_o2Ln_border-bottom-right-radius: 3px;
  --mixin-g0T4-Ko_o2Ln_border-top-left-radius: 3px;
  --mixin-g0T4-Ko_o2Ln_border-top-right-radius: 3px;
  --mixin-g0T4-Ko_o2Ln_font-family: "Inconsolata";
  --mixin-g0T4-Ko_o2Ln_padding-bottom: 3px;
  --mixin-g0T4-Ko_o2Ln_padding-left: 6px;
  --mixin-g0T4-Ko_o2Ln_padding-right: 6px;
  --mixin-g0T4-Ko_o2Ln_padding-top: 3px;
  --mixin-g0T4-Ko_o2Ln_white-space: pre-wrap;
  --mixin-2qW4b-JbkDgB_display: flex;
  --mixin-2qW4b-JbkDgB_flex-direction: column;
  --mixin-2qW4b-JbkDgB_align-items: stretch;
  --mixin-2qW4b-JbkDgB_justify-content: flex-start;
  --mixin-2qW4b-JbkDgB_list-style-position: outside;
  --mixin-2qW4b-JbkDgB_padding-left: 40px;
  --mixin-2qW4b-JbkDgB_position: relative;
  --mixin-2qW4b-JbkDgB_list-style-type: decimal;
  --mixin-2qW4b-JbkDgB_white-space: pre-wrap;
  --mixin-8rND3-uGA8UE_display: flex;
  --mixin-8rND3-uGA8UE_flex-direction: column;
  --mixin-8rND3-uGA8UE_align-items: stretch;
  --mixin-8rND3-uGA8UE_justify-content: flex-start;
  --mixin-8rND3-uGA8UE_list-style-position: outside;
  --mixin-8rND3-uGA8UE_padding-left: 40px;
  --mixin-8rND3-uGA8UE_position: relative;
  --mixin-8rND3-uGA8UE_list-style-type: disc;
  --mixin-8rND3-uGA8UE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-T_EEc3V23K7d_font-family);
  font-size: var(--mixin-T_EEc3V23K7d_font-size);
  font-weight: var(--mixin-T_EEc3V23K7d_font-weight);
  font-style: var(--mixin-T_EEc3V23K7d_font-style);
  color: var(--mixin-T_EEc3V23K7d_color);
  text-align: var(--mixin-T_EEc3V23K7d_text-align);
  text-transform: var(--mixin-T_EEc3V23K7d_text-transform);
  line-height: var(--mixin-T_EEc3V23K7d_line-height);
  letter-spacing: var(--mixin-T_EEc3V23K7d_letter-spacing);
  white-space: var(--mixin-T_EEc3V23K7d_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-9gm1EYuUjkX8_font-family);
  color: var(--mixin-9gm1EYuUjkX8_color);
  font-size: var(--mixin-9gm1EYuUjkX8_font-size);
  font-weight: var(--mixin-9gm1EYuUjkX8_font-weight);
  letter-spacing: var(--mixin-9gm1EYuUjkX8_letter-spacing);
  line-height: var(--mixin-9gm1EYuUjkX8_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-9DT5yE5NbYYH_font-family);
  color: var(--mixin-9DT5yE5NbYYH_color);
  font-size: var(--mixin-9DT5yE5NbYYH_font-size);
  font-weight: var(--mixin-9DT5yE5NbYYH_font-weight);
  letter-spacing: var(--mixin-9DT5yE5NbYYH_letter-spacing);
  line-height: var(--mixin-9DT5yE5NbYYH_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-DR3tsxQycEcK_font-family);
  color: var(--mixin-DR3tsxQycEcK_color);
  font-size: var(--mixin-DR3tsxQycEcK_font-size);
  font-weight: var(--mixin-DR3tsxQycEcK_font-weight);
  letter-spacing: var(--mixin-DR3tsxQycEcK_letter-spacing);
  line-height: var(--mixin-DR3tsxQycEcK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin--6kU-AOYMbEE_font-family);
  color: var(--mixin--6kU-AOYMbEE_color);
  font-size: var(--mixin--6kU-AOYMbEE_font-size);
  font-weight: var(--mixin--6kU-AOYMbEE_font-weight);
  letter-spacing: var(--mixin--6kU-AOYMbEE_letter-spacing);
  line-height: var(--mixin--6kU-AOYMbEE_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-NpbPItUC1Dzc_font-family);
  color: var(--mixin-NpbPItUC1Dzc_color);
  font-size: var(--mixin-NpbPItUC1Dzc_font-size);
  font-weight: var(--mixin-NpbPItUC1Dzc_font-weight);
  letter-spacing: var(--mixin-NpbPItUC1Dzc_letter-spacing);
  line-height: var(--mixin-NpbPItUC1Dzc_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-EhtGpvTsE7Lb_font-family);
  color: var(--mixin-EhtGpvTsE7Lb_color);
  font-size: var(--mixin-EhtGpvTsE7Lb_font-size);
  font-weight: var(--mixin-EhtGpvTsE7Lb_font-weight);
  line-height: var(--mixin-EhtGpvTsE7Lb_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-eGylqteo8zTq_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-1UEHpEtESlji_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-I6bAuc8u5gfG_color);
  padding-left: var(--mixin-I6bAuc8u5gfG_padding-left);
  border-left: var(--mixin-I6bAuc8u5gfG_border-left-width)
    var(--mixin-I6bAuc8u5gfG_border-left-style)
    var(--mixin-I6bAuc8u5gfG_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QJDIj0ogvsg__font-family);
  border-radius: var(--mixin-QJDIj0ogvsg__border-top-left-radius)
    var(--mixin-QJDIj0ogvsg__border-top-right-radius)
    var(--mixin-QJDIj0ogvsg__border-bottom-right-radius)
    var(--mixin-QJDIj0ogvsg__border-bottom-left-radius);
  padding: var(--mixin-QJDIj0ogvsg__padding-top)
    var(--mixin-QJDIj0ogvsg__padding-right)
    var(--mixin-QJDIj0ogvsg__padding-bottom)
    var(--mixin-QJDIj0ogvsg__padding-left);
  border-top: var(--mixin-QJDIj0ogvsg__border-top-width)
    var(--mixin-QJDIj0ogvsg__border-top-style)
    var(--mixin-QJDIj0ogvsg__border-top-color);
  border-right: var(--mixin-QJDIj0ogvsg__border-right-width)
    var(--mixin-QJDIj0ogvsg__border-right-style)
    var(--mixin-QJDIj0ogvsg__border-right-color);
  border-bottom: var(--mixin-QJDIj0ogvsg__border-bottom-width)
    var(--mixin-QJDIj0ogvsg__border-bottom-style)
    var(--mixin-QJDIj0ogvsg__border-bottom-color);
  border-left: var(--mixin-QJDIj0ogvsg__border-left-width)
    var(--mixin-QJDIj0ogvsg__border-left-style)
    var(--mixin-QJDIj0ogvsg__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-g0T4-Ko_o2Ln_font-family);
  border-radius: var(--mixin-g0T4-Ko_o2Ln_border-top-left-radius)
    var(--mixin-g0T4-Ko_o2Ln_border-top-right-radius)
    var(--mixin-g0T4-Ko_o2Ln_border-bottom-right-radius)
    var(--mixin-g0T4-Ko_o2Ln_border-bottom-left-radius);
  padding: var(--mixin-g0T4-Ko_o2Ln_padding-top)
    var(--mixin-g0T4-Ko_o2Ln_padding-right)
    var(--mixin-g0T4-Ko_o2Ln_padding-bottom)
    var(--mixin-g0T4-Ko_o2Ln_padding-left);
  border-top: var(--mixin-g0T4-Ko_o2Ln_border-top-width)
    var(--mixin-g0T4-Ko_o2Ln_border-top-style)
    var(--mixin-g0T4-Ko_o2Ln_border-top-color);
  border-right: var(--mixin-g0T4-Ko_o2Ln_border-right-width)
    var(--mixin-g0T4-Ko_o2Ln_border-right-style)
    var(--mixin-g0T4-Ko_o2Ln_border-right-color);
  border-bottom: var(--mixin-g0T4-Ko_o2Ln_border-bottom-width)
    var(--mixin-g0T4-Ko_o2Ln_border-bottom-style)
    var(--mixin-g0T4-Ko_o2Ln_border-bottom-color);
  border-left: var(--mixin-g0T4-Ko_o2Ln_border-left-width)
    var(--mixin-g0T4-Ko_o2Ln_border-left-style)
    var(--mixin-g0T4-Ko_o2Ln_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-2qW4b-JbkDgB_display);
  flex-direction: var(--mixin-2qW4b-JbkDgB_flex-direction);
  align-items: var(--mixin-2qW4b-JbkDgB_align-items);
  justify-content: var(--mixin-2qW4b-JbkDgB_justify-content);
  list-style-position: var(--mixin-2qW4b-JbkDgB_list-style-position);
  padding-left: var(--mixin-2qW4b-JbkDgB_padding-left);
  position: var(--mixin-2qW4b-JbkDgB_position);
  list-style-type: var(--mixin-2qW4b-JbkDgB_list-style-type);
  flex-column-gap: var(--mixin-2qW4b-JbkDgB_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-8rND3-uGA8UE_display);
  flex-direction: var(--mixin-8rND3-uGA8UE_flex-direction);
  align-items: var(--mixin-8rND3-uGA8UE_align-items);
  justify-content: var(--mixin-8rND3-uGA8UE_justify-content);
  list-style-position: var(--mixin-8rND3-uGA8UE_list-style-position);
  padding-left: var(--mixin-8rND3-uGA8UE_padding-left);
  position: var(--mixin-8rND3-uGA8UE_position);
  list-style-type: var(--mixin-8rND3-uGA8UE_list-style-type);
  flex-column-gap: var(--mixin-8rND3-uGA8UE_flex-column-gap);
}
